.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1% 9% 1% 5%;
  color: #3C6BA2;
  font-size: x-large;
  font-weight: bolder;
}

.pagination button {
  background: none;
  border: none;
  cursor: pointer;
  color: #3C6BA2;
  font-size: x-large;
  font-weight: bolder;
  padding: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
  color: #4f4f4f;
}
