.pagination {
  float: right;
  padding: 2% 10% 1% 10%;
}

.pagination button {
  background: none;
  border: none;
  font-family: arial, sans-serif;
  cursor: pointer;
  color: white;
  font-size: larger;
  font-weight: bolder;
  padding: 8px 16px 8px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #4f4f4f;
  color: white;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
}
