@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  background-color: #8FB1DA;
  border-bottom:4px solid #b7d7ff;
  height: 70px;
  padding: 10px;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.home {
  padding: 15px;
}

ul > li {
  /* border: 1px solid black; */
  padding: 10px;
  list-style-type: none;
}

li {
  list-style-type: none;
}

.main {
  padding: 15px;
}

.nav-item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s all;
}

.nav-item:hover {
  text-decoration: none;
  font-size: 19px;
  font-weight: 800;
  color: #ffffff;
  border-bottom: solid #3C6BA2 3px;
}

.cursos {
  padding: 15px;
}

.curso-description {
  padding: 10px;
}

.back-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: gray;
  border: none;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

.curso-title {
  margin-bottom: 10px;
}
