body{
  background-color: #dddddd;
}

.main {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 20px;
  justify-content: center;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3C6BA2;   
  width: 100%;
  padding-top: 10%;
}
