body{
  background-color: #c78f65;
}

.main {
  background-color: #c78f65;
  padding: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 20px;
  justify-content: center;
}
